* {
  padding: 0;
  margin: 0;
}

html {
  font: 16px/1.5 "Roboto Slab", serif;
  font-style: normal;
  box-sizing: border-box;
  color: #0A0909;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.wrapper section {
  position: relative;
  overflow: hidden;
  height: var(--app-height);
  width: 100%;
  background-color: #F1F7F3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5em;
  gap: 2em;
}

section header {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
}

section header h2 {
  font-family: "Great Vibes", cursive;
  font-size: 2em;
  font-weight: 400;
}

section header h1 {
  font-family: "Great Vibes", cursive;
  font-size: 2.75em;
  font-weight: 400;
}

.timer {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
}

.timer .section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.data {
  font-size: 1.5em;
  font-weight: 300;
}

.time {
  font-size: 0.875em;
  font-weight: 300;
}

.place-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  align-items: center;
  justify-content: center;
}

.place {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.place p {
  font-size: 1.25em;
  font-weight: 300;
}

.location a {
  text-decoration: none;
  color: #0A0909;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  align-items: center;
  justify-content: center;
}

.location a p {
  font-size: 1em;
  font-weight: 300;
}

.flowers {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  pointer-events: none;
}

.flowers img {
  overflow: hidden;
}

.wrapper article {
  padding: 2.5em 2em 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5em;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  gap: 2em;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 0.75em;
  transition: transform 0.3s ease;
}

.card img:hover {
  transform: scale(1.02);
}

.hero {
  padding: 0.5em;
  border-radius: 0.75em;
  box-shadow: 0 0.125em 1.315em 0 #7680A126;
}

.card h4 {
  font-size: 1.25em;
  font-weight: 300;
  line-height: 150%;
}

.card p {
  line-height: 150%;
  font-weight: 300;
}

@media (max-height: 500px) {
  .wrapper article {
    padding: 1em;
  }

  .wrapper section {
    padding-top: 1em;
    gap: 0.5em;
  }

  .wrapper section header {
    gap: 0;
  }

  .place-wrapper {
    gap: 0.5em;
  }
}

@media (max-height : 400px) {
  .hero {
    width: 30%;
  }

  .card {
    gap: 1em;
  }
}

@media (min-width: 1020px) {
  .wrapper section {
    max-height: 600px;
  }

  .card img {
    max-height: 600px;
    height: auto;
    object-fit: cover;
    display: block;
    border-radius: 0.75em;
  }

  .hero img {
    max-height: 500px;
    object-fit: cover;
  }
}
